.sponsor {
    min-height: 200px;
    background-color: $sponsor_bg_color;
    padding-top: 75px;
    padding-bottom: 55px;
    text-align: center;

    .item {
        display: inline-block;
        padding: 0 30px;
    }
}

@media only screen and (max-width : 991px) {
    .sponsor {
        .item {
            padding: 30px;
        }
    }
}
